/*
Change colours.
*/
/*
    Created on : 14-12-2017, 11:37:33
    Author     : janvanzetten
*/

.progress-bar {
    -fx-background-color: #FCFFF5;
}

.progress-bar .track{
    -fx-background-color: #FCFFF5;
}

.progress-bar .bar{
    -fx-background-color: linear-gradient(to right, #3E606F, transparent);
}